In [1]:
import numpy as np
import pandas as pd

In [2]:
routes_delays = pd.read_csv('routes_delays.csv')
ratings = pd.read_csv('ratings_df.csv')

In [3]:
routes_delays.head(2)
len(routes_delays)

7319

In [4]:
routes_delays.columns

Index(['Unnamed: 0', 'UNIQUE_CARRIER', 'arr_delay_var', 'carrier_delay%',
       'cancellation%', 'airline_name', 'airport_routes', 'city_coutes',
       'distance', 'average_delay_minutes', 'flight_counts',
       'delay_var_minutes'],
      dtype='object')

In [5]:
ratings.head(2)
len(ratings)

11

In [6]:
ratings.replace(np.nan, 'NR', inplace=True)

In [7]:
merged_df = pd.merge(routes_delays, ratings, on='UNIQUE_CARRIER')

In [8]:
#merged_df.head()

In [9]:
tmp = pd.Series(np.unique(merged_df['UNIQUE_CARRIER']))

In [65]:
tmp_dict = {'AA':'long haul, missed connecting, lie flat seats',
           'AS':' friendly, attentive, good service, good food',
           'B6':'snacks/drinks,legroom, free wifi, direct tv, helpful',
           'DL':'excellent service, missed connection, avoid delta',
           'F9':'low cost, staff friendly, pay extra, bags charge',
           'HA':'seats uncomfortable, friendly attendants, entertainment',
           'NK':'hidden fees, baggage fees, pay extra, worst airline,',
           'OO':'highly recommended, efficient check, friendly crew',
           'UA':'missed connecting flight, flight entertainment, friendly staff',
           'VX':'staff friendly, good quality, food/drinks, entertainment, leather seats',
           'WN':'low cost, non stop, crew/staff friendly, early bird, bags fly free'}

tmp_img = {'AA':'http://crushed.com/wp-content/uploads/2014/04/american_airlines.png',
           'AS':'https://www.nbp.org/nbp/images/business/logo-alaska-airlines.jpg',
           'B6':'http://www.jetblue.com/img/sofly/firstfin.gif',
           'DL':'https://s-media-cache-ak0.pinimg.com/736x/b4/dc/c8/b4dcc8de9a51e157ab177375e74e43b7.jpg',
           'F9':'http://cf.juggle-images.com/matte/white/280x280/frontier-airlines-2-logo-primary.jpg',
           'HA':'http://themolokainews.com/wp-content/uploads/2014/08/hawaiian-logo-304.jpg',
           'NK':'http://sharing.abc15.com/sharewfts/photo/2010/06/23/spirit_airlines_logo_20100623103407_320_240.JPG',
           'OO':'http://www.miniindy.org/assets/Uploads/TeamLogos/skywestLogo.png',
           'UA':'http://vertassets.blob.core.windows.net/image/c9736e07/c9736e07-f283-4a9c-b981-a1a80024c665/mm89155logo.jpg',
           'VX':'https://www.virginamerica.com/images/vx-icon-152.png',
           'WN':'http://www.carryitclearly.com/images/southwest-logo.jpg'}

In [11]:
#list(enumerate(merged_df.columns))

In [12]:
merged_df.drop('Unnamed: 0_x', axis=1, inplace=True)
merged_df.drop('Unnamed: 0_y', axis=1, inplace=True)

In [13]:
merged_df.columns

Index(['UNIQUE_CARRIER', 'arr_delay_var', 'carrier_delay%', 'cancellation%',
       'airline_name_x', 'airport_routes', 'city_coutes', 'distance',
       'average_delay_minutes', 'flight_counts', 'delay_var_minutes',
       'airline_name_y', 'cabin', 'entertainment', 'food_bev', 'ground',
       'money_value', 'overall', 'recommended', 'review_sentiment', 'wifi'],
      dtype='object')

In [14]:
merged_df.head(2)

,UNIQUE_CARRIER,arr_delay_var,carrier_delay%,cancellation%,airline_name_x,airport_routes,city_coutes,distance,average_delay_minutes,flight_counts,...,airline_name_y,cabin,entertainment,food_bev,ground,money_value,overall,recommended,review_sentiment,wifi
0,AA,2226.048309,84.121552,0.850827,American Airlines Inc.,"('ABQ', 'DFW')","('Albuquerque, NM', 'Dallas/Fort Worth, TX')",569.0,6.843891,442.0,...,american-airlines,2.5,2.0,2.3,1.9,2.4,3.7,0.3,-0.0,1.9
1,AA,2226.048309,84.121552,0.850827,American Airlines Inc.,"('ALB', 'CLT')","('Albany, NY', 'Charlotte, NC')",646.0,0.946154,260.0,...,american-airlines,2.5,2.0,2.3,1.9,2.4,3.7,0.3,-0.0,1.9

In [46]:
def topic(x):
    for k, v in tmp_dict.items():
        if k == x:
            return v
    return np.nan

In [68]:
merged_df['Topics Extract'] = merged_df['UNIQUE_CARRIER'].apply(topic)

In [69]:
merged_df['url'] = merged_df['UNIQUE_CARRIER'].apply(lambda x: tmp_img[x] if x in tmp_img.keys() else np.nan)

In [82]:
merged_df['url'] = merged_df['url'].apply(lambda x: "<img src=" + x + '"style=width: 80%; height: 80%/">')

<img src="image.jpg" style="width: 50%; height: 50%"/>​

In [83]:
merged_df['url'][0]

'<img src=http://crushed.com/wp-content/uploads/2014/04/american_airlines.png"style=width: 80%; height: 80%/">'

In [84]:
production_df = merged_df[['airline_name_x', 'airport_routes', 'city_coutes', 'distance', 'average_delay_minutes', 
                           'delay_var_minutes', 'overall', 'cabin', 'entertainment','wifi', 'food_bev', 
                           'money_value', 'Topics Extract', 'url']]

production_df.columns = ['Airline Name', 'Airports', 'Cities', 'Distance', 'Average Delay (min)', 
                        'Variance of Delays (min)', 'Overall', 'Cabin', 'Entertainment', 'Wifi', 
                         'Food/Beverage', 'Bang for Buck', 'Topics Extract', 'url']

In [85]:
production_df.head(2)

,Airline Name,Airports,Cities,Distance,Average Delay (min),Variance of Delays (min),Overall,Cabin,Entertainment,Wifi,Food/Beverage,Bang for Buck,Topics Extract,url
0,American Airlines Inc.,"('ABQ', 'DFW')","('Albuquerque, NM', 'Dallas/Fort Worth, TX')",569.0,6.843891,2874.268092,3.7,2.5,2.0,1.9,2.3,2.4,"long haul, missed connecting, lie flat seats",<img src=http://crushed.com/wp-content/uploads...
1,American Airlines Inc.,"('ALB', 'CLT')","('Albany, NY', 'Charlotte, NC')",646.0,0.946154,26.290526,3.7,2.5,2.0,1.9,2.3,2.4,"long haul, missed connecting, lie flat seats",<img src=http://crushed.com/wp-content/uploads...

In [86]:
production_df['for_html'] = production_df.ix[:, ('url', 'Topics Extract')].apply(tuple, axis=1)

/Users/sunkuo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [87]:
production_df['Distance'] = production_df.ix[:,'Distance'].apply(lambda x: int(x))
for i in range(4,6):
    production_df.ix[:,i] = production_df.ix[:,i].apply(lambda x: round(x,1))

/Users/sunkuo/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/sunkuo/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:461: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [92]:
production_df.loc[production_df['Airports'] == str(('JFK','ORD'))]

,Airline Name,Airports,Cities,Distance,Average Delay (min),Variance of Delays (min),Overall,Cabin,Entertainment,Wifi,Food/Beverage,Bang for Buck,Topics Extract,url,for_html
293,American Airlines Inc.,"('JFK', 'ORD')","('New York, NY', 'Chicago, IL')",740,8.7,821.4,3.7,2.5,2.0,1.9,2.3,2.4,"long haul, missed connecting, lie flat seats",<img src=http://crushed.com/wp-content/uploads...,(<img src=http://crushed.com/wp-content/upload...
1173,JetBlue Airways,"('JFK', 'ORD')","('New York, NY', 'Chicago, IL')",740,6.4,715.2,7.2,3.5,3.4,4.1,3.2,3.5,"snacks/drinks,legroom, free wifi, direct tv, h...",<img src=http://www.jetblue.com/img/sofly/firs...,(<img src=http://www.jetblue.com/img/sofly/fir...
1759,Delta Air Lines Inc.,"('JFK', 'ORD')","('New York, NY', 'Chicago, IL')",740,0.0,NaN,6.2,3.4,2.7,2.8,2.9,3.0,"excellent service, missed connection, avoid delta",<img src=https://s-media-cache-ak0.pinimg.com/...,(<img src=https://s-media-cache-ak0.pinimg.com...

In [93]:
production_df.ix[0, 'for_html']

('<img src=http://crushed.com/wp-content/uploads/2014/04/american_airlines.png"style=width: 80%; height: 80%/">',
 'long haul, missed connecting, lie flat seats')

In [56]:
production_df.loc[production_df['Airports'] == str(('LAX','ORD'))].ix[:, (0,4,5,6,7,8,9,10,11,12)]\
.sort_values('Bang for Buck', ascending=False).reset_index().drop('index', axis=1)

,Airline Name,Average Delay (min),Variance of Delays (min),Overall,Cabin,Entertainment,Wifi,Food/Beverage,Bang for Buck,Topics Extract
0,Virgin America,4.4,635.5,7.3,3.5,3.6,2.5,2.9,3.6,"staff friendly, good quality, food/drinks, ent..."
1,American Airlines Inc.,4.6,469.2,3.7,2.5,2.0,1.9,2.3,2.4,"long haul, missed connecting, lie flat seats"
2,Frontier Airlines Inc.,1.9,49.6,4.1,2.3,1.4,1,1.3,2.2,"low cost, staff friendly, pay extra, bags charge"
3,United Air Lines Inc.,3.9,352.0,3.4,2.4,2.1,1.9,2.0,2.2,"missed connecting flight, flight entertainment..."
4,Spirit Air Lines,1.1,24.6,2.9,2.1,1.2,1,1.4,2.0,"hidden fees, baggage fees, pay extra, worst ai..."

In [80]:
def get_airlines(org, dest, sortby):
    assert len(org), len(dest) == 3
    org, dest = org.upper(), dest.upper()
    if sortby == 'Average Delay (min)' or sortby == 'Variance of Delays (min)':
        return production_df.loc[production_df['Airports'] == str((str(org),str(dest)))].ix[:, (0,4,5,6,7,8,9,10,11,12)].sort_values(str(sortby), ascending=True).reset_index().drop('index', axis=1)
    else:
        return production_df.loc[production_df['Airports'] == str((str(org),str(dest)))].ix[:, (0,4,5,6,7,8,9,10,11,12)].sort_values(str(sortby), ascending=False).reset_index().drop('index', axis=1)
    
def origin_city(org, dest):
    org, dest = org.upper(), dest.upper()
    return eval(production_df.loc[production_df['Airports'] == str((str(org),str(dest)))].iloc[0,2])[0]

def destination_city(org, dest):
    org, dest = org.upper(), dest.upper()
    return eval(production_df.loc[production_df['Airports'] == str((str(org),str(dest)))].iloc[0,2])[1]

def distance_btw_cities(org, dest):
    org, dest = org.upper(), dest.upper()
    return production_df.loc[production_df['Airports'] == str((str(org),str(dest)))].iloc[0,3]

def display_dist(org, dest):
    return 'Distance from ' + str(origin_city(org, dest)) + ' to ' + str(destination_city(org, dest)) + ' is ' + str(distance_btw_cities(org, dest)) + ' miles.' 

def display_topics(org, dest, sortby):
    df = production_df.loc[production_df['Airports'] == str(('JFK','ORD'))]\
            .ix[:, (0,4,5,6,7,8,9,10,11,12)].sort_values(str(sortby), ascending=False).reset_index().drop('index', axis=1)
    for i in range(len(df)):
        print(df.ix[i, 'Airline Name']+': '+df.ix[i, 'Topics Extract'])
        
def for_extract(org, dest, sortby):
    org, dest = org.upper(), dest.upper()
    return production_df.ix[production_df['Airports'] == str((str(org), str(dest)))].ix[:,14].tolist()

In [94]:
for_extract('jfk', 'lax', 'Overall')

[('<img src=http://crushed.com/wp-content/uploads/2014/04/american_airlines.png"style=width: 80%; height: 80%/">',
  'long haul, missed connecting, lie flat seats'),
 ('<img src=http://www.jetblue.com/img/sofly/firstfin.gif"style=width: 80%; height: 80%/">',
  'snacks/drinks,legroom, free wifi, direct tv, helpful'),
 ('<img src=https://s-media-cache-ak0.pinimg.com/736x/b4/dc/c8/b4dcc8de9a51e157ab177375e74e43b7.jpg"style=width: 80%; height: 80%/">',
  'excellent service, missed connection, avoid delta'),
 ('<img src=https://www.virginamerica.com/images/vx-icon-152.png"style=width: 80%; height: 80%/">',
  'staff friendly, good quality, food/drinks, entertainment, leather seats')]

In [30]:
origin_city('lAX', 'EWr')

'Los Angeles, CA'

In [31]:
destination_city('Lax', 'ewR')

'Newark, NJ'

In [32]:
get_airlines('lax', 'sfo', 'Cabin')

,Airline Name,Average Delay (min),Variance of Delays (min),Overall,Cabin,Entertainment,Wifi,Food/Beverage,Bang for Buck,Topics Extract
0,Virgin America,2.3,156.2,7.3,3.5,3.6,2.5,2.9,3.6,"staff friendly, good quality, food/drinks, ent..."
1,Southwest Airlines Co.,4.2,398.9,6.8,3.5,2.5,2.6,2.8,3.4,"low cost, non stop, crew/staff friendly, early..."
2,Delta Air Lines Inc.,4.4,795.5,6.2,3.4,2.7,2.8,2.9,3.0,"excellent service, excellent service, avoid delta"
3,SkyWest Airlines Inc.,3.1,499.6,7.2,3.2,0.8,NR,0.8,2.6,"highly recommended, efficient check, friendly ..."
4,American Airlines Inc.,5.6,556.4,3.7,2.5,2.0,1.9,2.3,2.4,"long haul, missed connecting, lie flat seats"
5,United Air Lines Inc.,3.2,898.5,3.4,2.4,2.1,1.9,2.0,2.2,"missed connecting flight, flight entertainment..."

In [33]:
distance_btw_cities('ewr', 'oRd')

719

In [34]:
production_df.to_csv('prod_df.csv')

In [35]:
production_df.head(2)

,Airline Name,Airports,Cities,Distance,Average Delay (min),Variance of Delays (min),Overall,Cabin,Entertainment,Wifi,Food/Beverage,Bang for Buck,Topics Extract,url,for_html
0,American Airlines Inc.,"('ABQ', 'DFW')","('Albuquerque, NM', 'Dallas/Fort Worth, TX')",569,6.8,2874.3,3.7,2.5,2.0,1.9,2.3,2.4,"long haul, missed connecting, lie flat seats",<img src=http://crushed.com/wp-content/uploads...,(<img src=http://crushed.com/wp-content/upload...
1,American Airlines Inc.,"('ALB', 'CLT')","('Albany, NY', 'Charlotte, NC')",646,0.9,26.3,3.7,2.5,2.0,1.9,2.3,2.4,"long haul, missed connecting, lie flat seats",<img src=http://crushed.com/wp-content/uploads...,(<img src=http://crushed.com/wp-content/upload...

In [180]:
def get_html(org, dest, sortby):
    assert len(org), len(dest) == 3
    org, dest = org.upper(), dest.upper()
    return production_df.loc[production_df['Airports'] == str((str(org),str(dest)))]\
    .ix[:, (0,4,5,6,7,8,9,10,11,12)].sort_values(str(sortby), ascending=False).to_html()

In [181]:
get_airlines('ewr', 'ord', 'Overall')

,Airline Name,Average Delay (min),Variance of Delays (min),Overall,Cabin,Entertainment,Wifi,Food/Beverage,Bang for Buck,Topics Extract
0,American Airlines Inc.,5.8,1072.1,3.7,2.5,2.0,1.9,2.3,2.4,"flight cancelled, long haul, flight delayed, m..."
1,United Air Lines Inc.,5.1,754.4,3.4,2.4,2.1,1.9,2.0,2.2,"flight delayed, missed connecting flight, canc..."

In [182]:
def display_topics(org, dest, sortby):
    df = production_df.loc[production_df['Airports'] == str(('JFK','ORD'))]\
            .ix[:, (1,5,6,7,8,9,10,11,12,13)].sort_values(str(sortby), ascending=False).reset_index().drop('index', axis=1)
    for i in range(len(df)):
        print(df.ix[i, 'Airline Name']+': '+df.ix[i, 'Topics Extract'])

In [192]:
def display_topics(org, dest, sortby):
    df = production_df.loc[production_df['Airports'] == str(('JFK','ORD'))]\
            .ix[:, (0,4,5,6,7,8,9,10,11,12)].sort_values(str(sortby), ascending=False).reset_index().drop('index', axis=1)
    for i in range(len(df)):
        return str(df.ix[i, 'Airline Name']+': '+df.ix[i, 'Topics Extract'])

In [193]:
display_topics('jfk', 'ord', 'Cabin')

'JetBlue Airways: snacks, drinks, plenty legroom, free wifi, cancelled, delayed flight, customer service, direct tv, seats comfortable, great, helpful'

In [119]:
def display_topics1(org, dest, sortby):
    org, dest = org.upper(), dest.upper()
    df = production_df.loc[production_df['Airports'] == str((str(org),str(dest)))].ix[:, (0,4,5,6,7,8,9,10,11,12)].sort_values(str(sortby), ascending=False).reset_index\
().drop('index', axis=1)
    airlines = df['Airline Name'].tolist()
    topics = df['Topics Extract'].tolist()
    return list(zip(airlines, topics))
#     return extract

In [106]:
df = production_df.loc[production_df['Airports'] == str(('JFK','ORD'))].ix[:, (0,4,5,6,7,8,9,10,11,12)].sort_values('Overall', ascending=False).reset_index\
().drop('index', axis=1)

In [200]:
get_airlines('LGA', 'ORD', 'Variance of Delays (min)')

,Airline Name,Average Delay (min),Variance of Delays (min),Overall,Cabin,Entertainment,Wifi,Food/Beverage,Bang for Buck,Topics Extract
0,Spirit Air Lines,0.6,14.5,2.9,2.1,1.2,1,1.4,2.0,"hidden fees, baggage fees, pay extra, delayed,..."
1,SkyWest Airlines Inc.,0.5,29.1,7.2,3.2,0.8,NR,0.8,2.6,"efficient, highly recommended, efficient check..."
2,United Air Lines Inc.,1.4,90.7,3.4,2.4,2.1,1.9,2.0,2.2,"flight delayed, missed connecting flight, canc..."
3,American Airlines Inc.,2.1,228.0,3.7,2.5,2.0,1.9,2.3,2.4,"flight cancelled, long haul, flight delayed, m..."

In [75]:
merged_df['url'] = merged_df['UNIQUE_CARRIER'].apply(lambda x: tmp_img[x] if x in tmp_img.keys() else np.nan)

In [76]:
json_df = merged_df[['airline_name_x', 'Topics Extract', 'url']]

In [77]:
json_df = json_df.drop_duplicates().reset_index().drop('index', axis=1)

In [78]:
production_df.head()

,Airline Name,Airports,Cities,Distance,Average Delay (min),Variance of Delays (min),Overall,Cabin,Entertainment,Wifi,Food/Beverage,Bang for Buck,Topics Extract,url
0,American Airlines Inc.,"('ABQ', 'DFW')","('Albuquerque, NM', 'Dallas/Fort Worth, TX')",569.0,6.843891,2874.268092,3.7,2.5,2.0,1.9,2.3,2.4,"long haul, missed connecting, lie flat seats",<img src=http://crushed.com/wp-content/uploads...
1,American Airlines Inc.,"('ALB', 'CLT')","('Albany, NY', 'Charlotte, NC')",646.0,0.946154,26.290526,3.7,2.5,2.0,1.9,2.3,2.4,"long haul, missed connecting, lie flat seats",<img src=http://crushed.com/wp-content/uploads...
2,American Airlines Inc.,"('ANC', 'DFW')","('Anchorage, AK', 'Dallas/Fort Worth, TX')",3043.0,5.310345,157.078818,3.7,2.5,2.0,1.9,2.3,2.4,"long haul, missed connecting, lie flat seats",<img src=http://crushed.com/wp-content/uploads...
3,American Airlines Inc.,"('ANC', 'LAX')","('Anchorage, AK', 'Los Angeles, CA')",2345.0,26.517241,12432.758621,3.7,2.5,2.0,1.9,2.3,2.4,"long haul, missed connecting, lie flat seats",<img src=http://crushed.com/wp-content/uploads...
4,American Airlines Inc.,"('ANC', 'PHX')","('Anchorage, AK', 'Phoenix, AZ')",2552.0,1.600000,60.130337,3.7,2.5,2.0,1.9,2.3,2.4,"long haul, missed connecting, lie flat seats",<img src=http://crushed.com/wp-content/uploads...

In [ ]:
production_df.ix[0, '']

In [98]:
production_df.to_csv('prod_df_v5.csv')

In [59]:
production_df.ix[0, 'for_html']

('<img src=http://crushed.com/wp-content/uploads/2014/04/american_airlines.png>',
 'long haul, missed connecting, lie flat seats')

In [60]:
production_df.ix[1, 'for_html']

('<img src=http://crushed.com/wp-content/uploads/2014/04/american_airlines.png>',
 'long haul, missed connecting, lie flat seats')

In [95]:
g = for_extract('jfk', 'sea', 'Overall')

In [96]:
g[0]

('<img src=http://crushed.com/wp-content/uploads/2014/04/american_airlines.png"style=width: 80%; height: 80%/">',
 'long haul, missed connecting, lie flat seats')

In [99]:
production_df.head()

,Airline Name,Airports,Cities,Distance,Average Delay (min),Variance of Delays (min),Overall,Cabin,Entertainment,Wifi,Food/Beverage,Bang for Buck,Topics Extract,url,for_html
0,American Airlines Inc.,"('ABQ', 'DFW')","('Albuquerque, NM', 'Dallas/Fort Worth, TX')",569,6.8,2874.3,3.7,2.5,2.0,1.9,2.3,2.4,"long haul, missed connecting, lie flat seats",<img src=http://crushed.com/wp-content/uploads...,(<img src=http://crushed.com/wp-content/upload...
1,American Airlines Inc.,"('ALB', 'CLT')","('Albany, NY', 'Charlotte, NC')",646,0.9,26.3,3.7,2.5,2.0,1.9,2.3,2.4,"long haul, missed connecting, lie flat seats",<img src=http://crushed.com/wp-content/uploads...,(<img src=http://crushed.com/wp-content/upload...
2,American Airlines Inc.,"('ANC', 'DFW')","('Anchorage, AK', 'Dallas/Fort Worth, TX')",3043,5.3,157.1,3.7,2.5,2.0,1.9,2.3,2.4,"long haul, missed connecting, lie flat seats",<img src=http://crushed.com/wp-content/uploads...,(<img src=http://crushed.com/wp-content/upload...
3,American Airlines Inc.,"('ANC', 'LAX')","('Anchorage, AK', 'Los Angeles, CA')",2345,26.5,12432.8,3.7,2.5,2.0,1.9,2.3,2.4,"long haul, missed connecting, lie flat seats",<img src=http://crushed.com/wp-content/uploads...,(<img src=http://crushed.com/wp-content/upload...
4,American Airlines Inc.,"('ANC', 'PHX')","('Anchorage, AK', 'Phoenix, AZ')",2552,1.6,60.1,3.7,2.5,2.0,1.9,2.3,2.4,"long haul, missed connecting, lie flat seats",<img src=http://crushed.com/wp-content/uploads...,(<img src=http://crushed.com/wp-content/upload...